@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons";

* {
  box-sizing: border-box;
}

@layer utilities {
  .font-unbounded {
    font-family: var(--font-unbounded);
  }
  .font-sen {
    font-family: var(--font-sen);
  }
}

@theme {
  --color-prim: #ff8b5c;
  --color-prim-dark: #ff784b;
  --color-secondary: #fbdf58;
  --color-secondary-dark: #e5b718;
  --color-gray-light: #f1f1f1;

  --color-gradient-bg: linear-gradient(
    95deg,
    rgba(255, 105, 78, 1),
    rgba(255, 121, 92, 1) 100%
  );

  /* font family */
  --font-unbounded: var(--font-unbounded);
}

body {
  font-family: var(--font-sen);
  position: relative;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes navtop-marquee-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 20s linear infinite;
}

.navtop-marquee-track {
  animation: navtop-marquee-loop 12s linear infinite;
  width: max-content;
}
